<div class="wrapper">
	<h1>Listing products</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @products.each do |item| %>	
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= item.name %></td>
				<td><%= item.description %></td>
				<td>$<%= item.pricing %></td>
				<td><%= item.category.name %></td>
				<td>
					<a href="/products/<%= item.id %>">Show</a>
					<a href="/products/<%= item.id %>/edit">Edit</a>
					<%= simple_form_for :product, url: '/products/'+item.id.to_s, method: :delete, html: { id: 'destroyer' } do |f| %>
						<%= f.button :submit, "Destroy", class: "btn-primary my_button" %>
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<div class="nav">
		<a href="/products/new">New Product</a>
	</div>
</div>
